.navbar{
    background-color: transparent;
    padding: 18px 30px;
}
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
    font-size: 27px;
    letter-spacing: 1.2px;
    margin-right: 40px;
    transition: all .1s;
}
.nav-link {
    color: #fff;
    margin:0px 15px;
    text-transform: capitalize;
    font-size: 17px;
    transition: all .3s;
}
.nav-link:hover {
    color: #4b505e;
}
.navbar .nav-item .active{
    font-size: 17px;
    color: #fff;
    transition: all .3s;

}
.navbar .nav-item .active:hover{
    color: #31384d;
}
.logout,
#login,
#register{
    color: #fff;
    text-transform: capitalize;
    font-size: 17px;
    background-color: #01051f;
    padding: 7px 15px;
    border-radius: 9px;
    margin-right: 15px;
    text-decoration: none;
    border: none;
    
}