@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Martian+Mono&family=Xanh+Mono:ital@1&display=swap');body {
 background-color: #131722;
 font-family: Montserrat,sans-serif;
}
.link{
    text-decoration: none;
}

